.*

!.gitignore

.cache
/.classpath
db
dist
.DS_Store
**/*.DS_Store
*.eml
.history
.idea
project/
target/
/project/target/
/target/
/.idea_modules
*.iml
lib
lib_managed
log
logs
modules
/out
precompiled
/.project
project/project
/RUNNING_PID
server.pid
/.settings